* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.875rem/1.4 var(--font-family);

  --color-primary: #292524;
  --color-secondary: #57534E;
  --color-tertiary: #8F8881;
  --text-highlight: #E43A12;

  --surface-primary: #FFFFFF;
  --surface-secondary: #FEE7D6;

  --stroke-default: #D6D3D1;
  --stroke-highlight: #F3541C;
  --semantic-error: #DC2626;




  --color-background: #F5F7FA;
  --color-text: #4A4A4A;
}

body {
  overflow: hidden;

  font: var(--text);
  color: var(--color-secondary);
}

h1, h2 {
  color: var(--color-primary);
}

img {
  max-width: 100%;
  height: auto;
}